
#popup {
    text-align: right;
    padding-right: 0px;
}
.item {
    float: right;
    display: inline;
    width: 10%;
}
.item img {
    border-radius: 50%;
    width: 128px;
    height: 10%;
   margin: 0 auto;
  
}


body {
    background: rgb(119, 119, 200);
    opacity: 75%;
    font-family: teimer-web;
    font-weight: 200;
}
h1  {
    position: fixed;
    top: 0;
    left: 45%;
}
h2 {
    position: fixed;
    top: 35px;
    left: 40%;
}