
#popup {
    text-align: right;
}
.item {
    float: right;
    display: inline;
}
.item img {
    border-radius: 50%;
    width: 128px;
    height: 10%;
}


body {
    background: rgb(119, 119, 200);
    opacity: 75%;
    font-family: teimer-web;
    font-weight: 200;
}
h1, h2 {
    text-align: center;
}
p {
    padding-top: 20px;
}